@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@font-face {
  font-family: "Rounded Mplus 1c", Helvetica, sans-serif;
  src: url('./MPLUSRounded1c-Regular.ttf') format('ttf');
}

#index-body {
  background-color: #75CC7B;
}

@keyframes spread-out-europe {
  from {
    min-width: 0px;
    max-width: 0px;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#europe-map {
  background-image: linear-gradient(to left, #0D8EFA, #2E84F5, #1F7DDE, #2469FF);
  width: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation-name: spread-out-europe;
  animation-duration: 1.5s;
}

a {
  fill: #00861E;
  transition: fill 3s;
}

a:hover {
  fill: #37D459;
  transition: fill 1s;
}

#portugal-background {
    background-image: url(./recipes/images/portugal-landscape.jpg);
    background-size: cover;
}

#british-background {
  background-image: url(./recipes/images/London.jpg);
  background-size: cover;
}

#hungarian-background {
  background-image: url(./recipes/images/budapest.jpg);
  background-size: cover;
}

#germany-background {
  background-image: url(./recipes/images/germany.jpg);
  background-size: cover;
}

#spanish-background {
  background-image: url(./recipes/images/spain.jpg);
  background-size: cover;
}

#french-background {
  background-image: url(./recipes/images/france.jpg);
  background-size: cover;
}

#italian-background {
  background-image: url(./recipes/images/italy.jpg);
  background-size: cover;
}

#dutch-background {
  background-image: url(./recipes/images/amsterdam-night.jpg);
  background-size: cover;
}

#danish-background {
  background-image: url(./recipes/images/denmark.jpg);
  background-size: cover;
}

#icelandic-background {
  background-image: url(./recipes/images/iceland-1.jpg);
  background-size: cover;
}

#irish-background {
  background-image: url(./recipes/images/ireland.png);
  background-size: cover;
}

#norwegian-background {
  background-image: url(./recipes/images/norway-1.jpg);
  background-size: cover;
}

#belgian-background {
  background-image: url(./recipes/images/brussels.jpg);
  background-size: cover;
}

#austrian-background {
  background-image: url(./recipes/images/austria.jpg);
  background-size: cover;
}

#swiss-background {
    background-image: url(./recipes/images/switzerland.jpg);
    background-size: cover;
}

#swedish-background {
    background-image: url(./recipes/images/sweden.jpg);
    background-size: cover;
}

#finnish-background {
    background-image: url(./recipes/images/finland-1.jpg);
    background-size: cover;
}

#polish-background {
    background-image: url(./recipes/images/warsaw.jpg);
    background-size: cover;
}

#czech-background {
    background-image: url(./recipes/images/czech.jpg);
    background-size: cover;
}

#slovenian-background {
    background-image: url(./recipes/images/slovenia.jpg);
    background-size: cover;
}

#russian-background {
    background-image: url(./recipes/images/moscow.jpg);
    background-size: cover;
}

#turkish-background {
    background-image: url(./recipes/images/turkey-1.jpg);
    background-size: cover;
}

#greek-background {
    background-image: url(./recipes/images/greece.jpg);
    background-size: cover;
}

#estonian-background {
    background-image: url(./recipes/images/estonia.jpg);
    background-size: cover;
}

#latvian-background {
    background-image: url(./recipes/images/latvia.jpg);
    background-size: cover;
}

#lithuanian-background {
    background-image: url(./recipes/images/lithuania.jpg);
    background-size: cover;
}

#slovakian-background {
    background-image: url(./recipes/images/slovakia.jpg);
    background-size: cover;
}

#bulgarian-background {
    background-image: url(./recipes/images/sofia.jpg);
    background-size: cover;
}

#belarussian-background {
    background-image: url(./recipes/images/belarus.jpg);
    background-size: cover;
}

#ukrainian-background {
    background-image: url(./recipes/images/ukraine.jpg);
    background-size: cover;
}

#romanian-background {
    background-image: url(./recipes/images/romania.jpg);
    background-size: cover;
}

#moldovan-background {
    background-image: url(./recipes/images/moldova.jpg);
    background-size: cover;
}

#croat-background {
    background-image: url(./recipes/images/croatia.jpg);
    background-size: cover;
}

#bosnian-and-herzegovinian-background {
    background-image: url(./recipes/images/bosnia_and_herzegovina.jpg);
    background-size: cover;
}

#north-macedonian-background {
    background-image: url(./recipes/images/north-macedonia.jpg);
    background-size: cover;
}

#andorran-background {
    background-image: url(./recipes/images/andorra.jpg);
    background-size: cover;
}

#san-marino-background {
    background-image: url(./recipes/images/guaita.jpg);
    background-size: cover;
}

#monaco-background {
    background-image: url(./recipes/images/Monaco.jpg);
    background-size: cover;
}

#luxembourgish-background {
    background-image: url(./recipes/images/luxembourg.jpg);
    background-size: cover;
}

#albanian-background {
    background-image: url(./recipes/images/albania.jpg);
    background-size: cover;
}

#serbian-background {
    background-image: url(./recipes/images/serbia.jpg);
    background-size: cover;
}

#montenegrin-background {
    background-image: url(./recipes/images/montenegro.jpg);
    background-size: cover;
}

#cypriot-background {
    background-image: url(./recipes/images/cyprus.jpg);
    background-size: cover;
}

#liechtensteiner-background {
    background-image: url(./recipes/images/liechtenstein.jpg);
    background-size: cover;
}

#maltese-background {
    background-image: url(./recipes/images/malta.jpg);
    background-size: cover;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.homepage-image {
  border-radius: 60%;
  width: 150px;
  margin-right: -100%;
  position: relative;
  float: left;
  border-width: thick;
  border: 5px black solid;
  z-index: 1;
}

.main-content {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  clear: both;
  z-index: 2;
  transform: translate(0%, -3.5%);
  max-width: 694px;
  border-color: black;
  border-width: thick;
  postion: absolute;
  animation-name: appear;
  animation-duration: 1.5s;
  background-color: #ddffdd;
}

@keyframes showcoat {
  0% { opacity: 0; }
  75% { opacity: 0; }
  100% { opacity: 1; }
}

.image-row::after {
  content: "";
  clear: both;
  display: table;
}

.images {
  float: left;
  padding: 15px;
}

.resize-height-img {
  height: 180px;
}

.coat-of-arms {
  height: 150px;
  width: 150px;
}

.resize-arms {
  height: 180px;
}

/* If screen size differs, the country's coat of arms disappears */
@media only screen and (max-width: 750px) {
  .coat-of-arms {
    height: 0;
    width: 0;
  }
  .coat-of-arms-left {
    height: 0;
    width: 0;
  }
}

@media only screen and (max-width: 600px) {
    .homepage-image {
        width: 80px;
    }
}

.img-recipes {
  width: 300px;
  display: block;
}

.recipe-title {
  margin: auto;
  font-size: 40px;
}

.nation-name {
  font-size: 60px;
  text-decoration: underline;
}

h1, h2, h3 {
  margin: auto;
  text-align: center;
}

h1, h2 {
  font-size: 50px;
}

h3 {
  font-size: 20px;
}

#index-subheading {
  text-decoration: none;
  font-size: 25px;
}

li {
  margin: 14px;
}

.subheading-ingredient {
  font-weight: bold;
}

hr {
  border: 0;
}

.line-separator {
  border: 3px black;
  border-style: dashed;
}

.source {
  text-align: center;
  width: 100%;
}
